
.placeholder {
  font-weight: 300;
  line-height: 1.25;
  color: rgba(19, 27, 31, 0.5);
  font-size: 14px;
}
.vilaFinder {
  direction: rtl;
  i {
    font-size: 20px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 7px;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;


  }
}
